.mouse-follower {
    position: fixed;
    width: 14px;
    height: 14px;
    background-color: color(brick);
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
}

.text-hover {
    $self: &;
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: background-color 1s ease-in-out;

    &--dark {
        background-color: color(emperor);

        #{$self}__title {
            color: color(white);
        }
    }

    &__title {
        color: color(emperor);
        font-size: 112px;
        line-height: 150px;
        letter-spacing: 8px;
        font-weight: 400;
        transition: color 1s ease-in-out;
    }

    &__title-bold {
        font-weight: 900;
    }

    &__title-dot {
        color: color(brick);
    }

    &__gif {
        position: fixed;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 300px;
        height: 300px;
        max-width: 0;
        background-color: color(emperor);
        max-height: 0;
        border-radius: 50%;
        transition: max-height .3s ease-in-out, max-width .3s ease-in-out;


        &--active {
            max-width: 300px;
            max-height: 300px;
        }
    }
}