.text-hover {
    $self: &;
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: background-color 1s ease-in-out;

    &--dark {
        background-color: color(emperor);

        #{$self}__title {
            color: color(white);
        }
    }

    &__title {
        color: color(emperor);
        font-size: 112px;
        line-height: 150px;
        letter-spacing: 8px;
        font-weight: 400;
        transition: color 1s ease-in-out;
    }

    &__title-bold {
        font-weight: 900;
    }

    &__title-dot {
        color: color(brick);
    }
}